@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&display=swap');

/* Variáveis */
:root {
--primary-color: #3a6d2d;
--secondary-color: #3ca63c;
--text-color: #cffccf;
--background-color: #3ca63c ;
--button-hover: #002635;
--font-body: 'Chocolate Classical Sans', serif;
--font-titulo: 'Akshar', serif;
}

/* Reset */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: var(--font-body);
}

/* Corpo da página */
body {
background-color: var(--background-color);
color: var(--text-color);
line-height: 1.6;
}

p {
margin-top: 20px;
}

/* Cabeçalho */
header {
background: var(--primary-color);
color: white;
text-align: center;
padding: 20px;
}

header h1 {
font-family: var(--font-titulo);
margin-bottom: 10px;
}

nav ul {
list-style: none;
padding: 10px;
}

nav ul li {
display: inline;
margin: 0 15px;
}

nav ul li a {
color: white;
text-decoration: none;
}